body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;   
}

.container{
    max-width: 1000px;
    margin: 30px auto 30px auto;
    align-self: center;
}

.filters{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.btn-search {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
}